/* Font */
$font-family-poppins: 'Poppins', sans-serif;

/* Size */
$size-font-browser: 16px;
$size-font-html: 10px / $size-font-browser * 100%;
$size-font-base: 1.5rem;

$size-grid: 16px;

/* Z-index */
$z-index: globalmenu, header, fixed;

/* Color */
$color-text: #333333;
